node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/data/maps/*.png
server/data/maps/*.jpg
server/data/maps/*.jpeg
server/data/maps/*.webp
.env
vite.config.js.timestamp-*.mjs
/server/data
/server/data/hexagons
/server/data
